@font-face {
  font-family: ALBA;
  src: url(/fonts/ALBA____.TTF);
}

body,
html {
  background-color: #afeeee;
  color: darkslategray;
  font-family: "ALBA";
  height: 100%;
}

.SM {
  font-size: 50px;
  font-family: "ALBA";
  margin: 20px;
  text-shadow: 5px 5px 9px;
}

.header {
  font-size: 50px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.parallax {
  background-image: url("images/Brooklyn\ roof.jpg");

  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #afeeee;
}

#about {
  text-align: center;
  margin-top: 0px;
}

.bio-container {
  width: 75%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 0px;
}

.bio {
  font-size: 1.5rem;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  font-weight: bold;
}

#about {
  margin-top: 10px;
}

#gigs {
  text-align: center;
  margin-top: 10px;
}

.gigs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


/* .flyer-img {
  max-width: 300px;
  height: auto;
  /* margin-left: 80px;
  margin-top: 30px; */ 

.gig-dates-container {
 
  text-decoration: none;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 20px;
}


/* .flyer1 {
  width: 400px;
  height: auto;
  align-content: center;
} */

.tx-link {
  text-decoration: none;
  color: darkmagenta;
}

.tx-link:hover {
  color: deeppink;
}

.links {
  text-decoration: none;
  color: darkslategray;
}

.links:hover {
  color: lightseagreen;
}


.flyer:hover {
  filter: opacity(50%);
}

.spotify-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 30px;
}

.spotify-player {
  margin-top: 20px;
  border-radius: 7px;
  height: 275px;
  border: 0px;
}

.social-container-header {
  margin-right: 20px;
}

#social {
  text-decoration: none;
  text-shadow: 5px 5px 9px;
  font-size: 40px;
  color: darkslategray;
}

.footer {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#social:hover {
  color: lightseagreen;
}

.contact {
  font-size: 25px;
  text-shadow: 5px 5px 9px;
}

.copyright {
  font-size: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: darkslategray;
  --color-secondary: #008080;
  --color-tertiary: lightseagreen;
  --color-quaternary: #40e0d0;
  --color-quinary: AFEEEE;
}

.calendar-text {
  font-size: 30px;
}

.calendar {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  color: var(--color-primary);
  animation: shadows 7s ease-in infinite, move 7s ease-in infinite;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.flyer {
  border-radius: 20px;
  animation: glowing 7s ease-in-out infinite alternate;
}

@keyframes glowing {
  from {
    box-shadow: 0 0 10px lightseagreen,
      0 0 20px whitesmoke 0 0 30px lightseagreen, 0 0 40px whitesmoke,
      0 0 50px lightseagreen, 0 0 60px lightseagreen, 0 0 70px lightseagreen;
  }
  to {
    box-shadow: 0 0 20px whitesmoke, 0 0 30px lightseagreen,
      0 0 40px lightseagreen, 0 0 50px lightseagreen, 0 0 60px lightseagreen,
      0 0 70px lightseagreen, 0 0 80px lightseagreen;
  }
}

.pic-container {
  border-radius: 20px;
  animation: glowing 7s ease-in-out infinite alternate;
}
@keyframes glowing {
  from {
    box-shadow: 0 0 10px lightseagreen,
      0 0 20px whitesmoke 0 0 30px lightseagreen, 0 0 40px whitesmoke,
      0 0 50px lightseagreen, 0 0 60px lightseagreen, 0 0 70px lightseagreen;
  }
  to {
    box-shadow: 0 0 20px whitesmoke, 0 0 30px lightseagreen,
      0 0 40px lightseagreen, 0 0 50px lightseagreen, 0 0 60px lightseagreen,
      0 0 70px lightseagreen, 0 0 80px lightseagreen;
  }
}

.spotify-player {
  border-radius: 20px;
  animation: glowing 7s ease-in-out infinite alternate;
}
@keyframes glowing {
  from {
    box-shadow: 0 0 10px lightseagreen,
      0 0 20px whitesmoke 0 0 30px lightseagreen, 0 0 40px whitesmoke,
      0 0 50px lightseagreen, 0 0 60px lightseagreen, 0 0 70px lightseagreen;
  }
  to {
    box-shadow: 0 0 20px whitesmoke, 0 0 30px lightseagreen,
      0 0 40px lightseagreen, 0 0 50px lightseagreen, 0 0 60px lightseagreen,
      0 0 70px lightseagreen, 0 0 80px lightseagreen;
  }
}

.SM {
  animation: color-change 9s linear infinite;
}

@keyframes color-change {
  0% {
    color: darkslategrey;
  }
  32% {
    color: #3d8dae;
  }
  33% {
    color: #e4a9a8;
  }
  65% {
    color: #df8453;
  }
  66% {
    color: #ee82ee;
  }
  99% {
    color: #4682b4;
  }
  100% {
    color: #accfcb;
  }
}


@media screen and (max-width: 930px) {
  body {
    width: 100% auto;
    height: 100%;
  }
  .gigs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .bio {
    font-size: 1.1rem;
    width: 90%;
  }
  .gig-dates-container {
    font-size: 1.1rem;
    width: 90%;
  }
  .spotify-container {
    width: 85%;
  }

}


@media screen and (max-width: 912px) {
  body {
    width: 100% auto;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100% auto;
    height: auto;
  }
}

@media screen and (max-width: 772px) {
  body {
    width: 100% auto;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 100% auto;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 375px) {
  body {
    width: 100% auto;
  }
  .SM {
    margin: 0px;
    font-size: 20px;
  }
  .calendar {
    text-align: center;
  }

  .contact {
    font-size: 20px;
  }
}

@media screen and (max-width: 390px) {
  body {
    width: 100% auto;
  }
  .SM {
    margin: 0px;
    font-size: 20px;
  }

  .calendar {
    text-align: center;
  }

  .contact {
    font-size: 20px;
  }
}

@media screen and (max-width: 414px) {
  body {
    width: 100% auto;
  }
  .SM {
    font-size: 45px;
  }
  .calendar {
    text-align: center;
  }
}

@media screen and (max-width: 360px) {
  body {
    width: 100% auto;
  }
  .SM {
    font-size: 35px;
  }
  .gig-info-container {
    font-size: 10px;
  }
}

@media screen and (max-width: 428px) {
  body {
    width: 100% auto;
  }
  .SM {
    margin: 0px;
    font-size: 30px;
  }
}

@media screen and (max-width: 460px) {
  body {
    width: 100% auto;
  }
  .SM {
    margin: 0px;
  }
}

@media screen and (max-width: 412px) {
  body {
    width: 100% auto;
  }
  .SM {
    margin: 0px;
  }
}

@media screen and (max-width: 393px) {
  body {
    width: 100% auto;
  }
  .SM {
    margin: 0px;
  }

  .flyer-container {
    margin-bottom: 20px;
  }

  .flyer-subcontainer1 {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .contact {
    font-size: 20px;
  }
}

@media screen and (max-width: 280px) {
  body {
    width: 100% auto;
  }
  .SM {
    font-size: 25px;
  }

  .calendar {
    font-size: 20px;
  }

  .flyer1 {
    width: 75%;
    margin-left: 30px;
  }

  .flyer2 {
    width: 85%;
    height: 85%;
    margin-left: 25px;
  }
  #social {
    font-size: 30px;
  }
  .contact {
    font-size: 17px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    width: 100% auto;
  }
  .SM {
    margin: 0px;
  }
  #SM-media {
    font-size: 30px;
  }
  .social-container-header {
    margin: 0px;
  }
  #social {
    font-size: 25px;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .flyer-container {
    margin-bottom: 20px;
  }
}
